body {
 background-color: antiquewhite;
 
 
 display: flex;
 flex-direction: column;
}

.pages {
  color: coral;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10%;
  flex:1;
  
}

p {
  color: darkmagenta;
  font-size: 40px;
}

#images {
  display: flex;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}